<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#ffffff" />
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms of Service</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
      body {
        font-family: "Inter", sans-serif;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body class="bg-gray-900 text-white">
    <div class="flex-grow flex flex-col px-4">
      <!-- Container -->
      <div class="text-left max-w-2xl">
        <!-- Heading (Relay Name) -->
        <h1 class="text-5xl md:text-6xl font-bold text-purple-400 mb-6">
        Terms of Service
	</h1>

        <!-- Relay Description -->
        <p class="text-xl md:text-2xl text-gray-300 mb-8">
         This service (and supporting services) are provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement.
	</p>
<p class="text-xl md:text-2xl text-gray-300 mb-8">By connecting to this relay, you agree:</p>

<ul class="list-disc ml-5" style="margin-bottom: 20px;">    
    <li>To not engage in spam</li>
    <li>To not flood</li>
    <li>To not expect content moderation</li>
    <li>To not misuse or abuse the relay service and other supporting services</li>
    <li>To not disseminate illegal content or material</li>
    <li>That requests to delete content you publish cannot be guaranteed</li>
    <li>That this relay has no control over any content published in other relays</li>
    <li>That the service might be revoked to you at the operator's sole discretion if found in violation of these terms</li>
    <li>That the terms of service may change at any time in the future without explicit notice</li>
    <li>To use the service in compliance with all laws, rules, and regulations applicable to you</li>
    <li>To use the service in good faith and not seek to get the relay operator(s) in trouble</li>
    <li>That the service may throttle, rate limit, or revoke your access to any content and/or your privilege to publish content for any reason</li>
    <li>That the content you publish to this relay will be further broadcasted to any interested client and/or accepting relay</li>
    <li>To not infringe on the right of others to publish content to this relay as allowed by the terms of service</li>
    <li>That this service is not targeted, nor intended for use by, anyone under the legal age in their respective jurisdiction</li>
    <li>To be of legal age or have sufficient legal consent, permission, and capacity to use this service</li>
    <li>That the service may be temporarily shut down or permanently terminated at any time and without notice</li>
    <li>That the content published by you and other users may be removed at any time and without notice and for any reason</li>
    <li>To have your IP address and/or public key collected for the purpose of detecting abuse, spam, or misuse</li>
    <li>To have your IP address and/or public key in full, truncated, or as a hash digest shared with interested clients and other accepting relays for the sole purpose of reporting abuse, spam, or misuse</li>
    <li>To cooperate with the relay and its operators for the purpose of combating abuse, spam, or misuse of the service</li>
</ul>
<p class="text-xl md:text-2xl text-gray-300 mb-8">In addition, you understand that:</p>
    <ul class="list-disc ml-5" style="margin-bottom: 20px;">
    <li>Nostr is a decentralized and distributed network of relays that relays data by users</li>
    <li>Censorship resistance is practiced by posting to multiple relays and running your own private relay</li>
    <li>The responsibility of filtering and moderating is the sole responsibility of the users and not of the relays</li>
    <li>You may be inadvertently exposed to content that you might find triggering, disturbing, distasteful, immoral, or against your views</li>
    <li>The relay operator is not liable and has no involvement in the type, quality, and legality of the content being produced by users of the relay</li>
</ul>   </div>
    </div>

    <!-- Footer -->
    <footer class="text-center py-6 bg-gray-800 w-full">
      <p class="text-lg text-gray-400">
        Proudly powered by
        <a
          href="https://khatru.nostr.technology/"
          target="_blank"
          class="text-purple-300 hover:text-purple-400 underline"
          >Khatru</a
        >
        |
        <a
          href="https://github.com/bitvora/wot-relay"
          target="_blank"
          class="text-purple-300 hover:text-purple-400 underline"
          >Web of Trust Relay on Github</a
        >
      </p>
    </footer>
  </body>
</html>
